/*
  Josh's Custom CSS Reset
  https://www.joshwcomeau.com/css/custom-css-reset/
*/
*, *::before, *::after {
  box-sizing: border-box;
}
* {
  margin: 0;
}
body {
  -webkit-font-smoothing: antialiased;
}
img, picture, video, canvas, svg {
  display: block;
  max-width: 100%;
}
input, button, textarea, select {
  font: inherit;
}
p, h1, h2, h3, h4, h5, h6 {
  overflow-wrap: break-word;
}

/* Custom properties */
:root {
  --cyan: hsl(171, 66%, 44%);
  --blue: hsl(233, 100%, 69%);
  --dark-grayish-blue: hsl(210, 10%, 33%);
  --grayish-blue: hsl(201, 11%, 66%);
  --ff: 'Bai Jamjuree', sans-serif;
  --fw-regular: 400;
  --fw-semiBold: 600;
}

/* Styles */

/* General styling */
body {
  font-family: var(--ff);
  background-image: url(images/bg-header-mobile.png);
  background-repeat: no-repeat;
  text-align: center;
  background-size: contain;
}

.container {
  margin: 5.5rem 2rem 2rem 2rem;
  display: grid;
  gap: 11rem;
}

h1,
h2,
h3 {
  color: var(--dark-grayish-blue);
}

h2 {
  font-size: 1.688rem;
}

h3 {
  font-size: 1.438rem;
}

p {
  color: var(--grayish-blue);
  line-height: 1.625rem;
  letter-spacing: 0.1px;
}

/* First block */

.top-container {
  display: grid;
  gap: 3rem;
}

.clipLogo {
  margin: 1.531rem auto;
}

.intro {
  display: grid;
  gap: 1rem;
}

.download {
  display: grid;
  grid-template-columns: 1fr;
  gap: 1.5rem;
}

.download a {
  text-decoration: none;
  font-weight: var(--fw-semiBold);
  color: white;
  letter-spacing: 1px;
  padding: 1rem;
  border-radius: 3rem;
  font-size: 1.031rem;
}

.ios {
  background-color: var(--cyan);
  box-shadow: 0px 2px 1px 1px hsl(170, 67%, 37%), 0px 5px 30px -10px var(--cyan);
}

.mac {
  background-color: var(--blue);
  box-shadow: 0px 2px 1px 1px hsl(233, 67%, 59%), 0px 5px 30px -10px var(--blue);
}

/* Second block */

.mid-container {
  display: grid;
  gap: 8rem;
}

.track {
  display: grid;
  gap: 3.75rem;
}

.track-func {
  display: grid;
  gap: 3rem;
}

.track-func div {
  display: grid;
  gap: 0.5rem;
}

.track-header {
  display: grid;
  gap: 1rem;
}

/* Third block */

.clipboard {
  display: grid;
  gap: 4rem;
}

.clipboard-header {
  display: grid;
  gap: 1rem;
}

.mobileImage {
  width: fit-content;
  margin: 0 auto;
}

/* Fourth block */

.workflow {
  display: grid;
  gap: 5.5rem;
}

.workflow-header {
  display: grid;
  gap: 1rem;
}

.workflow-func {
  display: grid;
  gap: 3.5rem;
}

.blacklistImage,
.snippetsImage,
.previewImage {
  height: 2.5rem;
}

.blacklistImage img,
.snippetsImage img,
.previewImage img {
  margin: 0 auto;
}

.blacklist-header,
.snippets-header,
.preview-header {
  display: grid;
  gap: 1rem;
}

.blacklist,
.snippets,
.preview {
  display: grid;
  gap: 2rem;
}

/* Fifth block */

.partners {
  display: grid;
  justify-content: center;
  gap: 4.125rem;
  padding: 0 6rem;
}

.partners div {
  margin: 0 auto;
}

/* Sixth block */

.bot-container {
  display: grid;
  gap: 3rem;
}

.outro {
  display: grid;
  gap: 1rem;
}

/* Seventh block */

footer {
  background-color: hsl(220, 18%, 97%);
  display: grid;
  gap: 3rem;
  padding: 3rem;
}

.mini-clipboard-logo {
  height: 3.5rem;
}

.mini-clipboard-logo img {
  height: 100%;
  margin: 0 auto;
}

ul {
  list-style-type: none;
  padding: 0;
}

ul a {
  text-decoration: none;
  color: var(--dark-grayish-blue);
}

li:not(:last-child) {
  padding-bottom: 2rem;
}

.social {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 2.5rem;
}

/* Active states */

.ios:hover {
  background-color: hsl(171, 52%, 58%);
  box-shadow: 0px 2px 1px 1px hsl(170, 41%, 53%), 0px 5px 30px -10px var(--cyan);
  transition: background-color 0.5s ease, box-shadow 0.5s ease;
}

.mac:hover {
  background-color: hsl(234, 100%, 77%);
  box-shadow: 0px 2px 1px 1px hsl(233, 66%, 69%), 0px 5px 30px -10px var(--blue);
  transition: background-color 0.5s ease, box-shadow 0.5s ease;
}

ul a:hover {
  color: var(--cyan);
  transition: color 0.5s ease;
}

.logo-facebook img:hover,
.logo-twitter img:hover,
.logo-instagram img:hover {
  filter: invert(63%) sepia(21%) saturate(1363%) hue-rotate(122deg) brightness(94%) contrast(87%);
}

/* Desktop view */

@media screen and (min-width: 1400px) {
  
}